@import "../shared/_colors";

.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 17px;
  font-size: 16px;
  color: $light-primary;
  background-color: $lilac-primary;

  &:hover {
    background-color: $lilac-secondary;
  }
  &:active {
    background-color: $lilac-dark;
  }
  &:disabled {
    color: $light-secondary;
    background-color: $lilac-light;
  }
  &-small {
    padding: 4px 16px;
  }
  &-medium {
    padding: 8px 16px;
  }
  &-large {
    padding: 10px 16px;
  }
  & span {
    display: none;
  }
  &-loading {
    & span {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(./assets/loading.svg) no-repeat;
      background-position: center;
      margin-right: 10px;
      vertical-align: text-top;
    }
  }

}
