#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-container {
  font-size: 16px;
}

.pageTitle {
  font-size: 20px;
}

.date-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}